.hero {
  margin-top: var(--nav-height);
  // max-width: 1000px;
  background: var(--c-l-primary);
  min-height: 80vh;
  padding-top: 5rem;
  color: var(--c-t-light);
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  .textWrapper {
    margin-top: 2rem;
    max-width: 515px;
    .tag {
      font-size: 18px;
      font-weight: 400;
    }
    .title {
      margin-top: 1rem;
      font-family: var(--ff-playfair);
      font-size: 4rem;
      line-height: 4.5rem;
      font-weight: 400;
    }

    .subtitle {
      margin-top: 2rem;
      font-weight: 400;
      font-size: 1.5rem;
    }

    .btnWrapper {
      margin-top: 1.5rem;
      display: flex;
      column-gap: 10%;
    }
  }

  .imageWrapper {
    max-width: 412px;
    border-radius: 10px 100px 10px 10px;
    overflow: hidden;
    height: 452px;
    position: relative;
    box-shadow: -49px 58px 0px 1px var(--c-b-primary);

    & > div {
      height: 100%;
    }
  }
}
